.pill-c {
  display: inline-block;
  border: 0.66rem solid var(--black);
  background: var(--pillbg, var(--white));
  box-shadow: 0.84rem 0.84rem 0 var(--black);
  padding: 1.32rem 3.48rem;
  font-family: var(--mono);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 2.88rem;
  line-height: 1.2;
  color: var(--black);
}
