.cta-c {
  display: inline-flex;
  align-items: center;
  border: 0.66rem solid var(--black);
  background: var(--yellow);
  box-shadow: 0.84rem 0.84rem 0 var(--black);
  padding: 3rem 6.84rem;
  font-family: var(--disp);
  font-weight: 700;
  font-size: 3.48rem;
  text-transform: uppercase;
  color: var(--black);
}
.cta-c .cta-arrow {
  white-space: pre;
}
