<div class="mc-frame matrix">
  <div class="body">
    <h3 data-slot="headline" data-anim="headline">Headline</h3>
    <div class="grid">
      <div class="mhead" data-anim="criteria">
        <div class="mcorner"></div>
        <div class="mcrit" data-slot="crit-1">Fast</div>
        <div class="mcrit" data-slot="crit-2">Auditable</div>
        <div class="mcrit" data-slot="crit-3">Self-serve</div>
        <div class="mcrit" data-slot="crit-4">Criterion</div>
        <div class="mcrit" data-slot="crit-5">Criterion</div>
      </div>
      <div class="mrows" data-children></div>
    </div>
    <div class="caption" data-slot="caption" data-anim="caption">Caption</div>
  </div>
</div>
