.listnum-c {
  display: inline-flex;
  align-items: center;
  gap: 3rem;
}
.listnum-c .ln-chip {
  display: inline-grid;
  place-items: center;
  width: 7.68rem;
  height: 7.68rem;
  flex-shrink: 0;
  border: 0.66rem solid var(--black);
  background: var(--yellow);
  font-family: var(--mono);
  font-weight: 700;
  font-size: 3rem;
  color: var(--black);
}
.listnum-c .ln-text {
  font-family: var(--disp);
  font-weight: 500;
  font-size: 3.24rem;
  color: var(--black);
}
