.agenda > .body {
  justify-content: center;
  padding: 8.75rem 7.25rem 13.5rem;
}
.agenda h3 {
  font-weight: 800;
  font-size: 4.125rem;
  letter-spacing: -0.02em;
  margin: 1.5rem 0 2.875rem;
}
.agenda .alist {
  display: flex;
  flex-direction: column;
}
.agenda .alist > *:last-child {
  border-bottom: 0.375rem solid var(--black);
}
