.agenda > .body {
  justify-content: center;
  padding: 8.775rem 7.2rem 13.5rem;
}
.agenda h3 {
  font-weight: 800;
  font-size: 4.08rem;
  letter-spacing: -0.02em;
  margin: 1.44rem 0 2.88rem;
}
.agenda .alist {
  display: flex;
  flex-direction: column;
}
.agenda .alist > *:last-child {
  border-bottom: 0.36rem solid var(--black);
}
