.bar-ranking > .body {
  justify-content: center;
  padding: 8.125rem 6rem 13.5rem;
}
.bar-ranking h3 {
  font-weight: 800;
  font-size: 3.875rem;
  letter-spacing: -0.02em;
  margin: 1.5rem 0 2.875rem;
}
.bar-ranking .bars {
  display: flex;
  flex-direction: column;
  gap: 2.125rem;
}
.bar-ranking .caption {
  font-family: var(--disp);
  font-weight: 500;
  font-size: 2.125rem;
  color: #222;
  margin-top: 1.875rem;
  text-align: center;
}
